.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    /* background-color: gray; */
    padding: 10px;
    margin: 0 auto;


}

.graycolor {
    background-color: #dbdbdd;




}

.home,
.about,
.cars,
.services,
.contacts {
    color: black;
    text-decoration: none;
    font-size: larger;
}

.home:hover,
.about:hover,
.cars:hover,
.services:hover,
.contacts:hover {
    background-color: #fdc903;
    padding: 7px;
}


.yourtaxi {
    text-align: center;
    padding: 15px;
    /* margin-top: 50px */
}



.sectionpackages {
    display: flex;
    justify-content: space-around;
    /* padding: 25px; */

}

.fast,
.best,
.package {
    background-color: rgb(219, 217, 217);
    width: 30%;
    padding: 10px;
    text-align: start;



}

.fast_sales {
    display: flex;
}

/* CARS */

.economycars{
    display: flex;
    padding: 10px;
   justify-content: space-evenly;
   /* flex-wrap: wrap; */
}

.img1{
    width:30% ;
    height: 30%;
}
.img2{
    width: 30%;
    height: 30%;
}
.img3{
    width: 30%;
    height: 530%;
}

.standardcars{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}
.img4{
    width: 30%;
    height: 30%;
}
.img5{
    width: 30%;
    height: 30%;
}
.img6{
    width: 30%;
    /* height: %; */
}

.luxcars{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}
.img7{
    width: 30%;
    /* height: 40% !important; */
}
.img8{
    width: 30%;
    /* height: 30%; */
}

.img9{
    width: 30%;
    height: 30%;

}
    


.one{

}

h1{
    margin-left: 40px;
}

/* SERVICES */
.overview{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(212, 210, 210);
}



/* MEDIA QUARRY */
@media(max-width:1000px) {
    .graycolor {
        background-color: white;
       

    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .one,
    .two,
    .three,
    .four,
    .five {
        margin-bottom: 10px;
    }

    .sectionpackages {
        display: flex;
        flex-direction: column;
        width: 100%;
        

    }

    .fast,
    .best,
    .package {
        width: 100%;

        margin: 10px auto;
    }

}

@media(max-width:500px){
   .economycars,.standardcars,.luxcars{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    margin: 10px auto;
    width: 100%;
}

.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9{
    width: 90%;
    margin: 10px;
    margin-left:20px ;
}


}

